{% extends "tea_production/base.html" %}
{% load crispy_forms_tags %}

{% block title %}出荷データ登録{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">出荷データ登録</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">登録</button>
                    <a href="{% url 'tea_production:shipment_list' %}" class="btn btn-secondary">
                        キャンセル
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 